

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #FFF1F2;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 3px solid #009688; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
width: max-content;
  }
  
  #myBtn:hover {
    background-color: #009688; /* Add a dark-grey background on hover */
  }
/*hero-section*/
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.6)), url(../back3.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 95%;
    height: 10px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}
.navbar h4{
    color: #fff;
    margin-left: -550px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;  
}


.navbar ul li{
    list-style: none ;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
h1{
    font-size: 50px;
    margin-top: 80px;
    margin-left: 50px;
    

}
 p{
    margin: 20px 0;
    font-weight: 100;
    line-height: 25px;
    font-size: 23px;
}
.content h1 span{
    color:#009688;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px; 
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.6s;

}
button a{
    text-decoration: none;
    color: #fff;
    
}
button:hover span{
width: 100%;
}
button.hover{
    border: none;
}

.container{
    padding: 10px 40px;
}



nav .fas{
	display: none;
}

/*onama*/
#portfolio{
	padding: 50px 0;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.6))

}
.work-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 50px;
	margin-top: 50px;
    overflow: hidden;
}
.work{
	border-radius: 10px;
	position: relative;
	overflow: clip;
}
.work img{
	width: 100%;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 35px;
}
.layer{
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.6), #009688);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
    color: #fff;
}
.layer h3 p{
	font-weight: 500;
	margin: 20px 30px;
    padding: 10px;
}
.layer a{
	margin-top: 10px;
	color: #009688;
	text-decoration: none;
	font-size: 20px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.work:hover img{
	transform: scale(1.1);
}
.work:hover .layer{
	height: 100%;
}
/*akcije*/
.naslov{
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)); 
    overflow: hidden;
    top: 20px;
    padding: 15px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65));
    padding: 0 35px;
    max-width: 1448px;
    overflow: clip;
    
    
}
.wrapper i{
    height: 50px;
    width: 80px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.4rem;
    margin: 10px 15px;
    
  
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 460px;
    list-style: none;
    background: #fff;
    border-radius: 15px;
    display: flex;
    padding: 15px 10px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #e5491d;
    
}
.carousel .card:hover{
border: 4px solid red;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.card .img img{
width: 140px;
height: 140px;
object-fit: cover;
border-radius: 50%;

}
.card .img{
    background: #009688;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 4px solid #fff;
}
.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    text-align: center;
    color: #009688;
    min-height: 50px;

}
.card p{
    color: black;
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
    min-height: 125px;
}
.card button{
    width: 150px;
    right: 10px;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: #009688;
    color: #fff;
    cursor: pointer;
    position:relative;
    overflow: hidden;
    margin-top: 10px;

}
/*newslatter*/
#newslatter{
  
    padding: 2em;
height: max-content;
    color: #ffffff;
    background: #35424a;
    border-bottom: hsl(13, 79%, 51%) 3px solid;
    display: grid;
    grid-template-rows: 150px;
    grid-template-columns: 2fr 1fr 0.8fr;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
.container1{
    padding: 1.5em;
   align-content: center;
   max-width: 60ch;
   text-align: center;
}

.newslat{
    margin-top: -5px;
    font-size: 2rem;
}
.pnews{
    font-size: 1.2rem;
    
}


#newslatter input[type="email"]{
    padding: 4px;
    height: 35px;
    width: 400px;
    color: #35424a;
}
.button_1{
    margin-left: -15px;
    height: 38px;
    background:  #e5491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    text-transform: uppercase;
}
/*kontakti*/
.maincontainer{
    position: relative;
    width: 100%;
    height: 320px;
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65));
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;

}

.thecard{
    
    width: 300px;
    height: 200px;
    margin: 55px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}

.cardh3{
    font-size: 30px;
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #009688;
    color: #333;
    text-align: center;
    border-radius: 20px;
}
.thecard:hover{
    transform: rotateY(180deg);
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #000;
    color: #333;
    text-align: center;
    border-radius: 20px;
    transform: rotateY(180deg);
}
.theback .cardh3{
    margin: 60px;
    color: #009688;
}

.svgicon{
    top: 10px;
    width: 100px;
    height: 100px;
    font-size: 30px;
    margin-bottom: 20px;
    fill: #000;
  }

  /*javnioglasi*/
  .container2{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    overflow: hidden;
  }
  .box-list{
    
    display: grid;
    grid-template-columns: auto auto auto;
	grid-gap: 50px;
	margin: 50px;
    height: max-content;

  }
  .box{
    width: 420px;
    height: min-content;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 1px #26504c;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
    color: #fff;
    display: flex;
    align-items: center;
    

  }
  .oglas{
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 10px;
    text-transform: uppercase;
    margin: 10px;
    
  }
  .oglas i{
    padding: 5px;
    margin-right: 5px;
  }
  .datum{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .box:hover{
    box-shadow: none;
    color: aqua;
    
  }
  .box-list a{
    text-decoration: none;
  }

  .banner2{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.6)), url(../slide-1.webp);
    background-size: cover;
    border-bottom: 1px solid #009688;
    overflow: clip;
    
}
.contact-right form{
	width: 100%;
    margin-top: 50px;
}
form input, form textarea{
	width: 50%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 45px 70px;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}
.poruka button{
	padding: 14px 60px;  
	font-size: 18px; 
    margin-left: 350px;
	cursor: pointer;
    margin-top: -85px;
    position: relative;
    overflow: hidden;
}
.poruka span{
        background: #009688;
        height: 100%;
        width: 0;
        border-radius: 25px; 
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.6s;
    
}
.poruka button:hover span{
    width: 100%;
    }
  
  /*manji displeji*/
@media only screen and (max-width: 600px){

    .navbar{
        position: relative;
        top:10px;
        width: 90%;
    }
   
	.content{
		font-size: 16px;
        
	}
	h1{
		font-size: 30px;
        margin: 5px;
	}
    p{
        font-size: 20px;
    }
    .navbar h4{
        display: none;
    }
    .logo{
        width: 40px;
    }

	nav .fas{
		display: block;
		font-size: 25px;
        color: #fff;
	}
	nav ul{
		background: #009688;
		position: fixed;
		top: 0;
		right: -200px ;
		width: 200px;
		height: 100vh;
		padding-top: 60px;
		z-index: 2;
		transition: right 0.5s;
	}
	nav ul li{
		display: block;
		margin: 45px;
        padding: 13px;
	}
	nav ul .fas{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
    .wrapper .carousel{
    grid-auto-columns: 100%;
    }
    .wrapper{
        padding: 0 20px;
        min-height: 95vh;
    }
   
    .sub-title{
        font-size: 30px;
    }
    .maincontainer{
        height: 150px;
    }
    }

    @media only screen and (max-width: 900px){
        .wrapper .carousel{
            grid-auto-columns: 1;}

           
            .thecard{
    
                width: 85px;
                height: 70px;
                margin: 8px;
                display: flex;
                flex-direction: column;
                
                
            }
            .svgicon{
                top: 10px;
                width: 50px;
                height: 50px;
                font-size: 10px;
                fill: #000;
              }
              .cardh3{
                font-size: 12px;
        
              }
              .theback .cardh3{
    margin: 10px;

}
#newslatter{
    display: flex;
    flex-direction: column;
}
              #newslatter input[type="email"]{
                width: 200px;
              }
              .button_1{
                align-self: center;
                
              }
             
              .left h1{
                font-size: 1rem;
              }
              .left p{
                font-size: 0.7rem;
              }
            
              .box-list{
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              .box{
                width: 300px;
            }
            .banner2{
                
                display: inline-block;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              }
              .poruka button{
                margin-left: 80px;
                width: fit-content;
                background-color: transparent;
              }
              .poruka button:hover{
                background-color: #009688;
              }
              .layer{
              font-size: 10px; 
              padding: 2px;

              }
              #myBtn{
                padding: 15px;
              }
             

    }